.footer {
  padding: 45px 0;
  background-color: var(--main-fon);
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-info {
  display: flex;
  align-items: center;
  gap: 19px;
}

.logo-info__text {
  max-width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.416667;
  color: var(--color-white);
}

.footer__made {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.416667;
  color: var(--color-white);
}

.footer__link {
  border-color: var(--color-white);
}

@media(max-width: 1024px) {
  .footer {
    padding: 37px 0 49px;
  }

  .footer__made {
    color: rgba(255, 255, 255, 0.5);
  }

  .footer__link {
    border-color: rgba(255, 255, 255, 0.5);
  }
}

@media(max-width: 480px) {
  .footer {
    padding: 25px 0 0 0;
  }

  .footer__row {
    flex-wrap: wrap;
    gap: 25px;
  }

  .footer__made {
    order: 1;
    background-color: var(--made-fon);
    width: calc(100% + 30px);
    padding: 15px;
    text-align: center;
    margin: 0 -15px;
    position: relative;
  }
}
